**ANN Practical > Regression problem**

***Dataset***
- Churn dataset
- Output feature
    - Estimated Salary
        
        
        
- Input features
    - Non important features: RowNumber, CustomerId, Surname
    - Important features: Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember

***Problem Statement***
- Predict the Estimated Salary
- Type of problem: Regression problem (Predict the salaries of a group of people)


***Steps to Follow***

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle
import datetime

# ANN related imports
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Tensorflow
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [27]:
# Step 1 - Load the dataset
data=pd.read_csv('./resources/data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [28]:
# Step 2 - Preprocess the data
# Step 2.1 -  Drop unnecessary columns
data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
# Step 2.2) Encode the categorical column Gender (Convert from Male/Female to 0/1)
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [30]:
# Step 2.3) Encode the column Geography using OneHotEncoder
onehot_encoder_geography = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
geography_encoded = onehot_encoder_geography.fit_transform(data[['Geography']])
geography_encoded_df = pd.DataFrame(geography_encoded, columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
data = pd.concat([data.drop(columns=['Geography']), geography_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [31]:
# Step 3 - Split the data into features and target
# x = inputs = all columns except EstimatedSalary
# y = output = EstimatedSalary column
x = data.drop(columns=['EstimatedSalary'],axis=1)
y = data['EstimatedSalary']

In [32]:
# Step 4 - Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [36]:
# Step 5 - Scale the features using StandardScaler
standard_scaler_xtrain_xtest = StandardScaler()
x_train = standard_scaler_xtrain_xtest.fit_transform(x_train)
x_test = standard_scaler_xtrain_xtest.transform(x_test)
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [37]:
# Step 6 - Save the Encoders (LabelEncoder, OneHotEncoder) and Scaler (StandardScaler) using pickle
with open('./resources/pickle/2_label_encoder_gender.pkl', 'wb') as f:
     pickle.dump(label_encoder_gender, f) 

with open('./resources/pickle/2_onehot_encoder_geography.pkl', 'wb') as f:
    pickle.dump(onehot_encoder_geography, f)

with open('./resources/pickle/2_standard_scaler_xtrain_xtest.pkl', 'wb') as f:
    pickle.dump(standard_scaler_xtrain_xtest, f)

In [43]:
# Step 7 - Build the ANN model
# Input Layer = input_shape=(x_train.shape[1]
# Hidden Layer 1 = 64 (neurons), activation='relu'
# Hidden Layer 2 = 32 (neurons), activation='relu'
# Output Layer = 1 neuron
ann_model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## Compile the model
ann_model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

ann_model.summary()

/Users/ankur/backup/delta/sn/datascience/workspace/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [46]:
# Step 8 - Set up TensorBoard
# Step 8.1 - Write the logs to the log directory
log_dir = "./resources/logs/2/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [47]:
# Step 8.2 - Set up Early Stopping to prevent overfitting
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [48]:
# Step 9 - Train the ANN model created in Step 7
ann_model_trained = ann_model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100383.5781 - mae: 100383.5781 - val_loss: 98542.7422 - val_mae: 98542.7422
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99734.4297 - mae: 99734.4297 - val_loss: 97238.0859 - val_mae: 97238.0859
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97461.5391 - mae: 97461.5391 - val_loss: 93901.1094 - val_mae: 93901.1094
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 92933.2031 - mae: 92933.2031 - val_loss: 88207.7109 - val_mae: 88207.7109
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86209.0703 - mae: 86209.0703 - val_loss: 80664.7969 - val_mae: 80664.7969
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 77962.0859 - mae: 77962.0859 - val_loss: 72304.2031 - val_mae: 72304.2031
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69426.0547 - mae: 69426.0547 - val_loss: 64506.6914 - val_mae: 64506.6914
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 61922.1875 - mae: 61922.1875 - val_loss: 58217.8242 - val_mae: 58217.8242
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 56411.3828 - mae: 56411.3828 - val_loss: 54105.1172 - val_mae: 54105.1172
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52989.0781 - mae: 52989.0781 - val_loss: 51901.9766 - val_mae: 51901.9766
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51237.4570 - mae: 51237.4570 - val_loss: 51026.5664 - val_mae: 51026.5664
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50498.0586 - mae: 50498.0586 - val_loss: 50719.5039 - val_mae: 50719.5039
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50202.3398 - mae: 50202.3398 - val_loss: 50589.5625 - val_mae: 50589.5625
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50072.4414 - mae: 50072.4414 - val_loss: 50520.0156 - val_mae: 50520.0156
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49995.2852 - mae: 49995.2852 - val_loss: 50482.1602 - val_mae: 50482.1602
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49946.0156 - mae: 49946.0156 - val_loss: 50451.2266 - val_mae: 50451.2266
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49910.9688 - mae: 49910.9688 - val_loss: 50431.3906 - val_mae: 50431.3906
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49876.1211 - mae: 49876.1211 - val_loss: 50412.6172 - val_mae: 50412.6172
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49845.1836 - mae: 49845.1836 - val_loss: 50394.8242 - val_mae: 50394.8242
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49820.7188 - mae: 49820.7188 - val_loss: 50379.9141 - val_mae: 50379.9141
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49798.4688 - mae: 49798.4688 - val_loss: 50372.0117 - val_mae: 50372.0117
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49773.1914 - mae: 49773.1914 - val_loss: 50368.4453 - val_mae: 50368.4453
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49754.6211 - mae: 49754.6211 - val_loss: 50354.8594 - val_mae: 50354.8594
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49735.2070 - mae: 49735.2070 - val_loss: 50345.1055 - val_mae: 50345.1055
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49718.4297 - mae: 49718.4297 - val_loss: 50338.0781 - val_mae: 50338.0781
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49702.2969 - mae: 49702.2969 - val_loss: 50333.3125 - val_mae: 50333.3125
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49687.0742 - mae: 49687.0742 - val_loss: 50334.0156 - val_mae: 50334.0156
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49672.2930 - mae: 49672.2930 - val_loss: 50323.5664 - val_mae: 50323.5664
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49663.0312 - mae: 49663.0312 - val_loss: 50316.6875 - val_mae: 50316.6875
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49649.0859 - mae: 49649.0859 - val_loss: 50315.6133 - val_mae: 50315.6133
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49641.0625 - mae: 49641.0625 - val_loss: 50309.1055 - val_mae: 50309.1055
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49626.5625 - mae: 49626.5625 - val_loss: 50303.9922 - val_mae: 50303.9922
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49616.6797 - mae: 49616.6797 - val_loss: 50304.5586 - val_mae: 50304.5586
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49609.1016 - mae: 49609.1016 - val_loss: 50300.3594 - val_mae: 50300.3594
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49597.9766 - mae: 49597.9766 - val_loss: 50298.8398 - val_mae: 50298.8398
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49588.8594 - mae: 49588.8594 - val_loss: 50303.5508 - val_mae: 50303.5508
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49577.8945 - mae: 49577.8945 - val_loss: 50298.0352 - val_mae: 50298.0352
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49570.8750 - mae: 49570.8750 - val_loss: 50293.2109 - val_mae: 50293.2109
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49565.4492 - mae: 49565.4492 - val_loss: 50294.7969 - val_mae: 50294.7969
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49556.1836 - mae: 49556.1836 - val_loss: 50305.3984 - val_mae: 50305.3984
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49548.7812 - mae: 49548.7812 - val_loss: 50302.8594 - val_mae: 50302.8594
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49542.3867 - mae: 49542.3867 - val_loss: 50305.5938 - val_mae: 50305.5938
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49532.5117 - mae: 49532.5117 - val_loss: 50300.0000 - val_mae: 50300.0000
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49524.5156 - mae: 49524.5156 - val_loss: 50308.8359 - val_mae: 50308.8359
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49523.5273 - mae: 49523.5273 - val_loss: 50309.2422 - val_mae: 50309.2422
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49516.3086 - mae: 49516.3086 - val_loss: 50301.9258 - val_mae: 50301.9258
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49507.9922 - mae: 49507.9922 - val_loss: 50311.1797 - val_mae: 50311.1797
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49502.6641 - mae: 49502.6641 - val_loss: 50303.3828 - val_mae: 50303.3828

In [51]:
# Step 10 - Load the TensorBoard
%load_ext tensorboard
%tensorboard --logdir ./resources/logs/2/

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6007 (pid 43944), started 0:00:44 ago. (Use '!kill 43944' to kill it.)